@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFFFFF;
    --point-color: #5B9BF3;
}

.flex {
    display: flex;
}

.sec-wrap {
    Width: 1219.58px;
    Height: 502px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}

.img1 {
    position: absolute;
    right: 50px;
    top: -10px;
}

.img2 {
    position: absolute;
    left: -50px;
    top: 270px;
    z-index: -1;
}

.sector {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    Width: 1120px;
    Height: 425px;
    border-radius: 24px;
    z-index: 1;
}

.h1 {
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: var(--text-color);
    padding-top: 64px;
}

.line {
    border: 1px solid var(--text-color);
    border-radius: 6px;
    Width: 56px;
    margin: 25px 534px 66px 530px;
}

.photo {
    margin-right: 29px;
    margin-left: 118px;
    margin-bottom: 79px;
}

.p1 {
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: var(--text-color);
    margin-top: 37px;
}

.p2 {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
    opacity: 85%;
    margin-top: 5px;
}

.p3 {
    font-family: "Mulish", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-color);
    opacity: 90%;
    Width: 420px;
    Height: 120px;
    margin-left: 110px;
    margin-top: 5px;
}

.scroll {
    Width: 336.43px;
    Height: 20px;
    margin-left: 380px;
    margin-top: 42px;
}

.points {
    gap: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.point1 {
    border: 1px solid var(--point-color);
    border-radius: 100px;
    background: var(--point-color);
    width: 10px;
    height: 10px;
    margin-left: 90px;
}

.point2 {
    border: 1px solid var(--point-color);
    border-radius: 100px;
    background: var(--point-color);
    width: 10px;
    height: 10px;
    opacity: 30%;
}

.point3 {
    border: 1px solid var(--point-color);
    border-radius: 100px;
    background: var(--point-color);
    width: 10px;
    height: 10px;
    opacity: 30%;
}

.point4 {
    border: 1px solid var(--point-color);
    border-radius: 100px;
    background: var(--point-color);
    width: 10px;
    height: 10px;
    opacity: 30%;
    margin-right: 90px;
}